.colorOne {
    background: rgb(257, 127, 80);
}
.colorTwo {
    background: rgb(100, 149, 237);
}
.colorThree {
    background: rgb(218, 112, 214);
}
.colorFour {
    background: rgb(123, 104, 238);
}
.colorFive {
    background: rgb(218, 165, 32);
}
.colorSix {
    background: rgb(250, 128, 114);
}
.colorSeven {
    background: rgb(160, 82, 45);
}
.colorEight {
    background: rgb(46, 139, 87);
}
.colorNine {
    background: rgb(255, 182, 193);
}
.colorTen {
    background: rgb(255, 215, 0);
}
.colorEleven {
    background: rgb(255, 182, 193);
}

.tab {
    width: 100%;
    height: 400px;
}

.tab td {
    text-align: center;
}
.tabTwo td {
    text-align: center;
}

.tabTwo {
    width: 85%;
    height: 100px;
    margin-left: 8%;
}